<form action = "/note/update/<%= params[:id] %>" method = "post">
  <input type = "text" name = "title" value = "<%= @note.title %>" class = "title_input">
  <br>
  <textarea name = "content">
    <%= @note.content %>
  </textarea>
  <br>
  <input type = "hidden" name = "_method" value = "PATCH">
  <input type = "submit" value = "変更" class = "btn edit_note_btn">
</form>