<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>メモアプリ</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1><a href = "/" class = "memo_app_title">メモアプリ</a></h1>
    <%= yield %>
</body>
</html>