<form action = "/create" method = "post">
  <input type = "text" name = "title" style = "font-size:15px" placeholder = "タイトル" class = "title_input">
  <br>
  <textarea name="content" style = "font-size:15px" cols = "90" rows = "12" placeholder="本文"></textarea>
  <br>
  <input type = "submit" value="保存" class = "btn">
</form>